<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
    <link rel="stylesheet" href="../www/css/style2.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">
    <table id="main">
        <tr id="menu">
            <td>
                <table>
                    <tr>
                        {{MENU}}
                        <td id="search">
                            <form>
                                <input type="search" placeholder="Поиск" autocomplete="off">
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="fotogal">
            <td>
                <table id="shadow">
                    <tr>
                        <th colspan="4">Мероприятия</th>
                    </tr>
                    <tr>
                        <td colspan="2" id="box3">
                            Дорогой друг! На данный момент мероприятия незапланированны. Все пожелания
                            и предложения просим присылать на электронную почту или по телефону в разделе "контакты".
                            Ждем с нетерпением ваших предложений!<br>Спасибо.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="footer">
            <td>
                <table>
                    <tr>
                        <td id="fir">Arkadiy &copy; 2016 &laquo;A&D&raquo; PHOTOgraphic</td>
                        <td><a href="#">2</a></td>
                        <td><a href="#">3</a></td>
                        <td><a href="#">4</a></td>
                        <td><a href="#">5</a></td>
                        <td id="for"><a href="#">6</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>