<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{TITLE}}</title>
    <link rel="stylesheet" href="../www/css/style.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container">
    <table id="main">
        <tr id="menu">
            <td>
                <table>
                    <tr>
                        {{MENU}}
                        <td id="search">
                            <form action="#">
                                <input type="search" placeholder="Поиск" autocomplete="off">
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="header">
            <td>
                <table id="shadow">
                    <tr>
                        <td class="log">
                            PHOTOgraphic A&D - это студия фотографов-любителей, ценителей фототворчества и
                            экспериментальной фотографии.<br>
                            Только профессиональное оборудование.<br>
                            Проводим фотосессию для Вас там, где пожелаете, а самое главное - абсолютно бесплатно!<br>
                            За подробной информацией обращайтесь к автору идеи в разделе "контакты".
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../www/i/44.JPG" class="foto2">
                        </td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="fotogal">
            <td>
                <table id="shadow">
                    <tr>
                        <th colspan="4">Пример работы</th>
                    </tr>
                    <tr>
                        <td><img src="../www/i/44.JPG" class="foto2"></td>
                        <td><img src="../www/i/44.JPG" class="foto2"></td>
                        <td><img src="../www/i/44.JPG" class="foto2"></td>
                        <td><img src="../www/i/44.jpg" class="foto2"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr id="footer">
            <td>
                <table>
                    <tr>
                        <td id="fir">Arkadiy &copy; 2016 &laquo;A&D&raquo; PHOTOgraphic</td>
                        <td><a href="#">2</a></td>
                        <td><a href="#">3</a></td>
                        <td><a href="#">4</a></td>
                        <td><a href="#">5</a></td>
                        <td id="for"><a href="#">6</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>